.App {
  text-align: center;
  background-color: #808080;
  height: 100vh;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Panel {
  background-color: #A0A0A0;
  border-width: 2px;
  border-color: #000;
  border-radius: 5px;
  border-style: solid;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-Items: center;
}

.Lower {
  min-height: 45vh;
}

.Panel-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Time-table {
  border-width: 4px;
  border-color: #111;
  border-style: solid;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 95%;
}

.Time-table div {
  display: flex;
}

.Time-table div * {
  margin: 0;
  background-color: #E0E0E0;
  flex: 1;
  border: 1px solid #222;
}

.End-timer {
  color: red;
  font-size: 24px;
}

.Top-bar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.Top-bar div {
  padding: 4px 0;
  width: 100%;
}

.Top-bar :first-child {
  border-top-left-radius: 5px;
}

.Top-bar :nth-child(2) {
  border-top-right-radius: 5px;
}

.Inactive {
  border-bottom: 1px solid #222;
  background-color: #808080;
}

.Left {
  border-right: 1px solid #222;
}

.Right {
  border-left: 1px solid #222;
}

.Active-nav {
  display: flex;
  align-items: center;
}

.Active-nav input {
  padding: 1px;
  width: 10px;
  margin: 5px;
}

.Active-nav button {
  border-width: 1px;
  padding: 0;
  width: 14px;
  height: 20px;
  font-weight: 600;
}

.Current {
  width: 85%;
}

.Current button{
  width: 100%;
  height: 50px;
  background-color: #E0E0E0;
  border: 1px solid #101010;
}

.Current-timer {
  display: flex;
}

.Current-timer * {
  background-color: #E0E0E0;
  flex: 1;
  border: 1px solid #101010;

}

.Create {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Create *{
  margin: 34px;
}

.Create input {
  width: 45%;
}

.Activity:hover p {
  background-color: #B0B0B0;
  cursor: pointer;
}